.snackbar-wrapper {
  bottom: 2vh;
  z-index: 1299999;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  .alert {
    transition: 2s;
    &.alert-success {
      color: var(--success-color);
      border: 2px solid var(--success-color);
    }
    &.alert-danger {
      color: var(--danger-color);
      border: 2px solid var(--danger-color);
    }
  }
}
