.signature-page-container {
  display: flex;
  // align-items: center;
  .parent {
    width: 100%;
    img {
      max-width: 130px;
    }
  }
  > * {
    padding: 1rem 4rem 0 0;
    .head {
      padding-bottom: 0.4rem;
    }
  }
  .lead {
    margin-bottom: 0.75rem;
  }
}
