.floating-button-container {
  /* position: absolute;
  bottom: 0vh;
  left: 25vw;
  right: 25vw; */
  border-top: 1px solid var(--primary-color);
}
.floating-button-container > .item-right {
  position: relative;
  padding: 1rem 0;
}

@media (max-width: 1000px) {
  .floating-button-container {
    left: 1vw;
    right: 1vw;
  }
}
