.background-sign-in {
  height: 100%;
  width: 100%;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  text-align: center;
  flex-direction: column;

  /* background: linear-gradient(
    to bottom,
    var(--secondary-extra-color-1),
    var(--secondary-extra-color-2)
  ); */
  background: var(--secondary-color);
  h5 {
    strong {
      font-family: var(--secondary-font-type);
    }
  }
  .exact-google-button {
    :first-child {
      span {
        font-family: var(--secondary-font-type);
      }
    }
  }
}

.background-sign-in .logo-container {
  padding: 2.5rem 0 3rem;
}
.background-sign-in .text-container {
  padding: 1rem 0 3rem;
}
.background-sign-in .cta-container {
  box-shadow: 0 0px 6px rgba(47, 122, 247, 0.7);
  width: 470px;
  border-radius: 7px;
  padding: 3rem 0 1rem;
  margin: auto;
}

.background-sign-in .cta-container .lower-cta {
  padding: 2rem 0 2rem;
}
.background-sign-in .cta-container .lower-cta > div {
  padding: 1rem 0;
}
.background-sign-in .cta-container .lower-cta hr {
  margin: 0 4rem;
}
.background-sign-in .cta-container button {
  box-shadow: 0 !important;
  background: transparent !important;
  padding-left: 4rem !important;
  padding-right: 4rem !important;
  color: var(--primary-color) !important;
  font-size: 1.2rem;
  border-radius: var(--border-radius) !important;
  border: 1px solid var(--primary-color) !important;
}
.background-sign-in .cta-container button > span {
  font-weight: bolder !important;
}
.background-sign-in .cta-container button > div {
  background: transparent !important;
}

@media screen and (max-width: 500px) {
  .background-sign-in .cta-container {
    width: 90% !important;
  }
  .background-sign-in .cta-container button {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
}
