.auth-page {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  > div {
    max-width: 700px;
    display: grid;
    place-items: center;
    > * {
      padding: 1rem 2vw;
    }
    button {
      font-size: 1.2rem;
      padding: 1rem 2.4rem;
      margin-bottom: 1rem;
    }
  }
  img {
    width: 80%;
  }
}

.account-page {
  width: 100vw;
  height: 100vh;
  padding: 2vh 2vw;
  .wrapper {
    position: relative;
    .sign-out-button {
      position: absolute;
      right: 1rem;
      top: 0.5rem;
    }
    .margin-top {
      position: absolute;
      right: 1rem;
      bottom: 0rem;
      // margin-top: 2rem;
    }
  }
}
