.left.sign-review-send-container {
  padding-top: 1rem;

  .add-copy-user-container {
    position: relative;
    width: 100%;
    .row {
      position: relative;
      width: 100%;
      margin-bottom: 0.5rem;
      .clear-rounded-icon {
        color: white;
        position: absolute;
        top: 50%;
        left: 100%;
        width: 1rem;
        transform: translate(0, -50%);
        display: grid;
        place-items: center;
        svg {
          border-radius: 50px;
          background-color: var(--secondary-extra-color-3);
        }
      }
    }
  }
}

.left.sign-review-send-container .add-receivers > div {
  padding: 0.5rem 0;
}
.left.sign-review-send-container .row.add-receivers {
  margin-left: unset;
  margin-right: unset;
}

.left.sign-review-send-container .add-signers-button {
  margin: 0.5rem 0 3rem;
}

.left.sign-review-send-container .w-100 .form {
  padding: 0.3rem 0;
  width: 100%;
}

.right.sign-review-send-container {
  .first-child {
    padding-top: 1rem;
    min-height: 62vh;
  }
}

.right.sign-review-send-container table {
  width: 100%;
}
.right.sign-review-send-container .table-row td {
  padding: 0.7rem 0.5rem;
  background-color: #f4f8ff;
}
.fallback-empty-row td {
  text-align: center;
  padding: 0.5rem 0;
  font-weight: bolder;
  background: #f8f8f8;
}

.right.sign-review-send-container .signers-table {
}
