.verify-signature-container {
  .head {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  .middle {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0.5rem 0;
    align-items: center;
    input {
      font-size: 0.7rem;
    }
    button {
      margin-left: 1rem;
      font-size: 0.7rem;
      padding: 0.25rem 1.2rem !important;
      border-radius: 1px;
    }
    > :last-child {
      padding-left: 1rem;
    }
  }
  .sec-mid {
    margin-top: 0.3rem;
    .text {
      font-size: 0.7rem;
    }
    .resend-button-area {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      button {
        font-size: 0.6rem;
      }
    }
  }
  .button-below {
    margin-top: 1.2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    button {
    }
  }
}
