.ekyc-container {
  margin-top: 3rem;
}

.ekyc-container table {
  margin-top: 1rem;
}

.ekyc-container table td {
  padding-bottom: 0.6rem;
  vertical-align: top;
}

.ekyc-container table td:first-child {
  padding-right: 2rem;
}

/* .ekyc-container table td.circle-correct-icon {
  padding-left: 2rem;
} */

/* .ekyc-container table td.phone-number-area input {
  display: block;
} */

.ekyc-container table td .circle-correct-icon {
  padding-top: 0.7rem;
  width: 1.2rem;
}
.button-settings {
  color: var(--primary-color);
  background-color: #d7e4fd;
  border: 1px solid var(--tertiary-color);
  display: inline-block;
  vertical-align: middle;
  /* vertical-align: top; */
  cursor: pointer;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
/* td.date-table-data .react-date-picker {
  border: 1px solid var(--tertiary-color);
  border-radius: var(--form-border-radius);
  padding: 0.5rem 1rem;
  width: 15rem;
  text-align: center;
  outline: none;
}
td.date-table-data .react-date-picker .react-date-picker__wrapper {
  border: 0;
} */
.react-date-picker svg {
  height: var(--standard-font-size);
}
.react-calendar__month-view__weekdays {
  text-transform: capitalize !important;
  text-decoration: none !important;
}
.react-date-picker__wrapper {
  border: 0 !important;
}
/* .react-date-picker__inputGroup__leadingZero,
#editing-view-port > div {
  text-decoration: underline;
} */
