.sign-nav-container {
  background: white;
  padding: 1rem 6rem;
  height: 12vh;
  width: 100%;
  border-bottom: 0.2px solid black;
  top: 0;
  z-index: 9999;
  position: relative;
  // width: 100%;
  // height: 100%;
  justify-content: space-between;
  display: flex;
  * {
    font-family: Helvetica;
  }

  .back {
    border-right: 2px solid var(--tertiary-color);
    svg {
      height: 100%;
      width: auto;
      background-color: white;
      opacity: 0.8;
      * {
        color: var(--tertiary-color) !important;
      }
      border-radius: 50px;
    }
  }
  .stepper-buy-now-button {
    color: rgba(var(--primary-color-divide), 0.7);
    font-weight: bolder;
    cursor: pointer;
    border-radius: var(--border-radius);
    padding: 0.8rem 2rem;
    border: 0;
    text-decoration: none;
    background: var(--secondary-extra-color-2);
  }
  .stepper-buy-now-button:hover {
    color: var(--tertiary-color);
    background: var(--secondary-extra-color-2);
  }
  .dropright {
    // height: 100%;
    .dropdown-toggle {
      // height: 100%;
      .rounded-img {
        height: 100%;
      }
    }
  }
}

.sign-footer-wrapper {
  height: 10vh;
  width: 100%;
  background-color: white;
  position: fixed;
  border-top: 1.5px solid black;
  bottom: 0;
  z-index: 2222;
  .sign-footer {
    height: 100%;
    width: 100%;
    bottom: 0;
    .footer-item {
      padding: 0 1rem;
    }
    .icon {
      > svg {
        font-size: 2rem;
      }
      padding: 0.5rem;
    }
  }
}
