$pad-top: 6.2rem;
$left-width: 20%;
$right-width: 20%;
$center-width: 60%;

.place-field-area {
  height: 100vh;
  padding-top: $pad-top;
  .left-sidebar {
    background-color: var(--secondary-extra-color-4);
    height: 100%;
    width: $left-width;
    .container {
      padding: 0.1rem;
    }
    select {
      width: 80%;
    }
  }
  .right-sidebar {
    background-color: var(--secondary-extra-color-4);
    height: 100%;
    top: $pad-top;
    right: 0;
    width: $right-width;
    .container {
      padding: 0.1rem;
    }
  }
  #main-workspace {
    width: $center-width;
    margin-left: $left-width;
    // padding-top: 3.5rem;
    .one-image-area {
      width: 100%;
      padding: 1rem;
      height: auto;
      img {
        width: 100%;
        border: 2px solid black;
      }
    }
  }
}
