.place-field-area .left-sidebar .button-placefields {
  background: var(--text-color);
  width: 100%;
  border: 0;
  text-transform: capitalize;
  font-weight: bolder;
  padding: 0.4rem 0;
}
.place-field-area .left-sidebar select {
  background: var(--text-color);
  width: 100%;
  border: 0;
  text-transform: capitalize;
  outline: none;
  font-weight: bolder;
  padding: 0.4rem 0;
}
.place-field-area .left-sidebar {
  background: var(--light-blue-color);
}
.place-field-area .lead {
  padding: 1rem 0 0;
}

.place-field-area .left-sidebar select ::before {
  content: " ";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 5px;
  background: attr(data-before);
}
/* .place-field-area .left-sidebar select option::before {
} */

/* TODO jones */
.place-field-area .pdfviewer {
  height: 100%;
}