.place-field-area {
  height: 100vh;
  #main-workspace {
    width: 100%;
    .one-image-area {
      width: 100%;
      padding: 1rem;
      img {
        width: 100%;
        border: 2px solid black;
      }
    }
  }
}
