.place-field-area {
  height: 100vh;
  padding-top: 6.2rem;
  .left-sidebar {
    background-color: var(--secondary-extra-color-4);
    height: 100%;
    width: 20%;
    .container {
      padding: 0.1rem;
    }
    select {
      width: 80%;
    }
  }
  .right-sidebar {
    background-color: var(--secondary-extra-color-4);
    height: 100%;
    top: 6.2rem;
    right: 0;
    width: 20%;
    .container {
      padding: 0.1rem;
    }
  }
  #main-workspace {
    width: 100%;
    padding-left: 23%;
    padding-right: 23%;
    padding-top: 6.2rem;
    margin-top: -6.2rem;
    padding-bottom: 6.2rem;
    .one-image-area {
      width: 100%;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      img {
        width: 100%;
        border: 2px solid black;
      }
    }
  }
}
