.image-upload-container {
  display: flex;
  max-width: 380px;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  background-color: var(--secondary-extra-color-1);
  color: var(--primary-color);
  border: 0.5px dashed var(--primary-color);
}

.image-upload-container img {
  height: 2rem;
}
