.sign-select-document-container {
  margin-top: 3rem;
}

.sign-select-document-container {
  .first-child {
    min-height: 62vh;
  }
  .file-icon {
    font-size: 2rem;
  }
  .delete-red {
    color: red;
  }
}
