@font-face {
  font-family: Helvetiva;
  src: url("./assets/Helvetica-Neue-Font/Helvetica Neue Medium Extended/Helvetica Neue Medium Extended.ttf");
}
@font-face {
  font-family: PTSans;
  src: url("./assets/PT_Sans/PTSans-Regular.ttf");
}

@font-face {
  font-family: BeautifulBloom;
  src: url("./assets/Fonts Signature/Beautiful_Bloom_Font_Family_(Fontmirror)/BeautifulBloom-Regular 400.otf");
}

@font-face {
  font-family: Biancha;
  src: url("./assets/Fonts Signature/biancha-font/Biancha-X3VOa.otf");
}

@font-face {
  font-family: Dessthia;
  src: url("./assets/Fonts Signature/Dessthia_Font_Family_(Fontmirror)/Dessthia 400.ttf");
}

@font-face {
  font-family: Elaine;
  src: url("./assets/Fonts Signature/Elaine_Hanks_Font_Family_\(Fontmirror\)/ElaineHanksDEMO 400.otf");
}

@font-face {
  font-family: Hendrickson;
  src: url("./assets/Fonts Signature/Hendrickson_Font_Family_(Fontmirror)/Hendrickson 400.otf");
}

@font-face {
  font-family: Hudson;
  src: url("./assets/Fonts Signature/Hudson_Font_Family_\(Fontmirror\)/Hudson Regular 400.ttf");
}

@font-face {
  font-family: KingWaller;
  src: url("./assets/Fonts Signature/King_Waller_Font_Family_(Fontmirror)/King\ Waller\ 400.otf");
}

@font-face {
  font-family: SignatureMoments;
  src: url("./assets/Fonts Signature/Signature Moments/Signature Moments 400.otf");
}

@font-face {
  font-family: SignatureX;
  src: url("./assets/Fonts Signature/Signaturex_Font_Family_(Fontmirror)/Signaturex\ Demo\ 400.ttf");
}

@font-face {
  font-family: Signeria;
  src: url("./assets/Fonts Signature/signerica/Signerica_Medium.ttf");
}

@font-face {
  font-family: Singaporean;
  src: url("./assets/Fonts Signature/Singaporean_Font_Family_(Fontmirror)/Singaporean\ Demo\ 400.ttf");
}

@font-face {
  font-family: Standlist;
  src: url("./assets/Fonts Signature/Standlist_Font_Family_(Fontmirror)/Standlist\ 400.ttf");
}
