@import url(./fonts.css);

:root {
  --primary-color: #000000;
  --black-color: #707070;
  --primary-color-divide: 0, 0, 0;

  --secondary-color: #fafafa;
  --text-color: #fff;
  --secondary-extra-color-1: #f0f0f0;
  --secondary-extra-color-2: #dde4f1;
  --secondary-extra-color-3: gray;
  --secondary-extra-color-4: #f4f8ff;
  --tertiary-color: #2f7bf7;
  --danger-color: red;
  --orange-color: #ff8319;

  --success-color: #45b336;

  --primary-font-type: PTSans;
  --secondary-font-type: Helvetica;

  --secondary-extra-color-11: #bdbdbd;

  --border-radius: 25px;
  --form-border-radius: 5px;
  --standard-font-size: 16px;
}
@media (max-width: 1000px) {
  :root {
    --standard-font-size: 12px;
  }
}
.invisible {
  visibility: hidden;
}

/* ::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--secondary-extra-color-1);
}
@media only screen and (max-width: 600px) {
  ::-webkit-scrollbar {
    width: 0;
  }
} */

body {
  margin: 0;
  font-family: PTSans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--standard-font-size);
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

p,
div,
span,
input,
button,
.btn {
  font-size: var(--standard-font-size);
}

* {
  font-family: PTSans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: PTSans;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.background-general {
  background-color: var(--secondary-color);
  min-height: 89vh;
  min-width: 100vw;
  position: relative;
}
.item-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.item-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.item-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.item-centery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.item-left {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
}
.item-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}

.content-welcome {
  min-height: 40vh;
  display: grid;
  place-items: center;
}

/* toast */
.toast > div > div {
  padding: 0.8rem 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.disabled {
  opacity: 0.5;
}

.primary-color {
  color: var(--tertiary-color) !important;
}

.btn-primary {
  background: var(--tertiary-color);
  color: var(--text-color);
  padding: 0.4rem 2rem;
  text-decoration: none;
}
.btn-light {
  padding: 0.4rem 2rem;
}
.btn-secondary {
  padding: 0.4rem 2rem;
  border-radius: var(--border-radius);
  background: var(--secondary-extra-color-2);
  color: var(--text-color);
  text-decoration: none;
}

.rounded-img {
  border-radius: 50%;
}

.super-pt-2 > * {
  padding: 0 1rem;
}

.super-pt-1 > * {
  padding: 0 0.5rem;
}
.cursor-pointer {
  cursor: pointer;
}
.text-only-button {
  background: transparent;
  font-size: 0.8vw;
  border: 0;
  text-decoration: underline;
}

.btn-black {
  background-color: var(--black-color);
  border: 0;
  color: white;
}
.btn-black:hover,
.btn-black:focus,
.btn-black:active {
  background-color: #2f7bf7;
  outline: none;
  box-shadow: 0;
}
/* .text-only-button:hover {
} */

.btn.btn-black.squared {
  border-radius: 0.1rem;
  border: 0;
  background: var(--secondary-extra-color-3);
  color: var(--text-color);
  padding: 0.3rem 2.1rem;
  outline: none;
  box-shadow: none;
}
.btn.btn-black.circled {
  outline: none;
  box-shadow: none;
  border-radius: var(--border-radius);
  border: 0;
  background: var(--secondary-extra-color-3);
  color: var(--text-color);
  padding: 0.5rem 2.2rem;
}

button.send-wa {
  border: 1px solid var(--success-color);
  color: var(--success-color);
  font-weight: bolder;
  padding: 0.35rem 0.75rem;
}
