/* @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --primary-color: #000000;
  --secondary-color: #fafafa;
  --text-color: #fff;
  --secondary-extra-color-1: #4095e3;
  --secondary-extra-color-2: #2f7bf7;
  --tertiary-color: blue;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

* {
  font-family: "Roboto", sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.background-general {
  background-color: var(--secondary-color);
  min-height: 100vh;
  min-width: 100vw;
}
.item-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-center {
  text-align: center;
}
.content-welcome {
  min-height: 40vh;
  display: grid;
  place-items: center;
}

/* toast */
.toast > div > div {
  padding: 0.8rem 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
