.MuiButtonBase-root.MuiBottomNavigationAction-root {
  .MuiBottomNavigationAction-label {
    font-size: unset;
  }
  &.Mui-selected {
    padding-top: unset;
    color: var(--primary-color);
  }
}

.MuiTypography-body1,
.MuiTypography-body2 {
  padding-bottom: 0.2rem;
}
