@import "global-overrides.scss";

p {
  vertical-align: middle;
  img {
    height: 1rem;
    vertical-align: middle;
  }
}

.logo {
  width: 1rem;
}

.item-container-between {
  padding: var(--gutter);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-start {
  padding: 0.7rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  > :last-child {
    padding-left: 0.4rem;
  }
}

.small-divider {
  height: 0.6rem;
  background-color: rgba(230, 230, 230, 0.7);
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  > * {
    margin: 0.4rem;
  }
}
.wrapper {
  padding: 0.4rem 0.4rem 1rem;
}
.weak-opacity {
  opacity: 0.8;
  font-size: 0.6rem;
  text-decoration: line-through;
}

@keyframes animate {
  0%,
  100% {
    transform: rotate(0deg);
    font-size: 2rem;
  }
  50% {
    transform: rotate(-90deg);
    font-size: 1rem;
  }
}

#large-screen {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  background-color: white;
  > div {
    display: grid;
    place-items: center;
    animation: animate 2s infinite;
    img {
      width: 40%;
    }
    > h1 {
      color: var(--primary-color);
    }
  }
}
