.home-wrapper {
  padding-top: 2rem;
}

.home-wrapper .hello {
  padding: 2rem 0.5rem;
  font-weight: bolder;
}

.home-wrapper .sign-area {
  padding: 0.5rem;
}

.home-wrapper .sign-area > div {
  /* border: 1px solid; */
  height: 100%;
  box-shadow: 0 0px 6px rgba(47, 122, 247, 0.7);
  margin: 1rem;
  border-radius: var(--border-radius);
  text-align: center;
  padding: 1.6rem;
}

.home-wrapper .sign-area img {
  max-width: 4rem;
  padding-bottom: 1rem;
}

.home-wrapper .component-icon {
  padding: 0.5rem;
}
.home-wrapper .component-icon svg {
  height: 3rem;
}
.home-wrapper .sign-area .button {
  margin-top: 0rem;
}

.home-wrapper .sign-area .button .button-landing {
  border-radius: var(--border-radius);
}
